<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>EjemploGet</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description>Ejemplo sobre cómo pasar parámetros con Get</description>
        <display-name>EjemploGet</display-name>
        <servlet-name>EjemploGet</servlet-name>
        <servlet-class>velazquez._2_ejemplo_get.EjemploGet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EjemploGet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>