<!DOCTYPE html>
<html>
<head th:replace="~{fragments/bootstrap::head(title='Asignaturas del alumno')}"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="~{fragments/parts::menu}"></header>
			<div class="col-8">
				<h3 class="text-center mt-3" th:text="'Matricula de: '+${alumno.nombre}+' '+${alumno.apellido1}"></h3>
				<table class="table table-stripped table-hover">
					<thead class="table-light">
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Créditos</th>
						<th>Curso</th>
						<th>Nota</th>
					</tr>
					</thead>					
					<tbody>
					 <tr th:each="a : ${alumno.alumnoAsignaturas}">
					 	<td th:text="${a.getAsignatura().id}"></td>
					 	<td th:text="${a.getAsignatura().nombre}"></td>
					 	<td th:text="${a.getAsignatura().creditos}"></td>
					 	<td th:text="${a.getAsignatura().curso}"></td>
					 	<td th:text="${a.nota}"> </td>
					 </tr>					
					</tbody>
				</table>
			</div>

			<footer th:replace="~{fragments/parts::footer(info='menu.subject')}"></footer>
		</div>
	</div>
</body>
</html>